# ── Postgres ──────────────────────────
POSTGRES_DB=ScanShort
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
DB_PORT=5432

# ── Redis ─────────────────────────────
REDIS_HOST=redis
REDIS_PORT=6379

# ── App ───────────────────────────────
APP_PORT=8081
BEARER_PREFIX= Bearer
SECRET_KEY=my-secret-key-my-secret-key-my-secret-key
EXPIRATION_TOKEN_TIME=10800000
SALT_ROUNDS=12
