# ── Postgres ──────────────────────────
POSTGRES_DB=ScanShort
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
DB_PORT=5432

# ── Neon PostgreSQL ──────────────────────────
PROD_DB=neondb
DB_HOST=ep-billowing-snow-abnd7oaj-pooler.eu-west-2.aws.neon.tech
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_nlDmqKSPHM72

# ── Redis (Upstash) ─────────────────────────────
REDIS_HOST=musical-quagga-97307.upstash.io
REDIS_PASSWORD=gQAAAAAAAXwbAAIgcDI2MGFmZmU2YzY4NTg0NWM0OGIwMzNlMDM2YmFkNzBlNQ
REDIS_PORT=6379

# ── App ───────────────────────────────
APP_PORT=8080
BEARER_PREFIX= Bearer
SECRET_KEY=my-secret-key-my-secret-key-my-secret-key
EXPIRATION_TOKEN_TIME=10800000
SALT_ROUNDS=12
